USE [master]
GO
/****** Object:  Database [CollegeTimetableDB]    Script Date: 28/09/2026 16:40:15 ******/
CREATE DATABASE [CollegeTimetableDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeTimetableDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeTimetableDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollegeTimetableDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeTimetableDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeTimetableDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeTimetableDB]
GO
/****** Object:  Table [dbo].[AcademicSessions]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicSessions](
	[AcademicSessionId] [int] IDENTITY(1,1) NOT NULL,
	[SessionName] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsCurrent] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AcademicSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campuses]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campuses](
	[CampusId] [int] IDENTITY(1,1) NOT NULL,
	[CampusName] [nvarchar](100) NOT NULL,
	[CampusCode] [nvarchar](20) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassYears]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassYears](
	[ClassYearId] [int] IDENTITY(1,1) NOT NULL,
	[YearName] [nvarchar](30) NOT NULL,
	[YearNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[DepartmentCode] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [nvarchar](100) NOT NULL,
	[ProgramCode] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[CampusId] [int] NOT NULL,
	[RoomNumber] [nvarchar](30) NOT NULL,
	[RoomName] [nvarchar](100) NULL,
	[RoomType] [nvarchar](30) NOT NULL,
	[Capacity] [int] NOT NULL,
	[BuildingName] [nvarchar](100) NULL,
	[FloorNumber] [int] NULL,
	[IsLab] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[CampusId] [int] NOT NULL,
	[AcademicSessionId] [int] NOT NULL,
	[ClassYearId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[SectionCode] [nvarchar](50) NOT NULL,
	[StudentCount] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DefaultRoomId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectionSubjects]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionSubjects](
	[SectionSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[WeeklyHours] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SharedWithSectionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](30) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[DepartmentId] [int] NULL,
	[CreditHours] [decimal](3, 1) NULL,
	[WeeklyHours] [int] NOT NULL,
	[IsPractical] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherDepartments]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherDepartments](
	[TeacherDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[EmployeeCode] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[Designation] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TeacherSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachingGroups]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachingGroups](
	[TeachingGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[CampusId] [int] NOT NULL,
	[AcademicSessionId] [int] NOT NULL,
	[ClassYearId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeachingGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachingGroupSections]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachingGroupSections](
	[TeachingGroupSectionId] [int] IDENTITY(1,1) NOT NULL,
	[TeachingGroupId] [int] NOT NULL,
	[SectionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeachingGroupSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[SlotName] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimetableEntries]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimetableEntries](
	[TimetableEntryId] [int] IDENTITY(1,1) NOT NULL,
	[SectionSubjectId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[AcademicSessionId] [int] NOT NULL,
	[ClassType] [nvarchar](30) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimetableEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimetableRules]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimetableRules](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[RuleCode] [nvarchar](100) NOT NULL,
	[RuleName] [nvarchar](200) NOT NULL,
	[RuleType] [nvarchar](50) NOT NULL,
	[ScopeType] [nvarchar](50) NOT NULL,
	[ScopeId] [int] NULL,
	[RuleValue] [nvarchar](max) NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsMandatory] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/09/2026 16:40:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicSessions] ON 

INSERT [dbo].[AcademicSessions] ([AcademicSessionId], [SessionName], [StartDate], [EndDate], [IsCurrent], [CreatedAt]) VALUES (1, N'2026-2027', CAST(N'2026-08-01' AS Date), CAST(N'2027-07-31' AS Date), 1, CAST(N'2026-08-19T20:37:11.8200000' AS DateTime2))
INSERT [dbo].[AcademicSessions] ([AcademicSessionId], [SessionName], [StartDate], [EndDate], [IsCurrent], [CreatedAt]) VALUES (2, N'2025-2027', CAST(N'2025-08-25' AS Date), CAST(N'2027-06-30' AS Date), 0, CAST(N'2026-09-25T15:46:45.7368913' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AcademicSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Campuses] ON 

INSERT [dbo].[Campuses] ([CampusId], [CampusName], [CampusCode], [Location], [IsActive], [CreatedAt]) VALUES (1, N'Boys Campus', N'BOYS', N'Main Campus', 1, CAST(N'2026-08-19T20:36:30.1200000' AS DateTime2))
INSERT [dbo].[Campuses] ([CampusId], [CampusName], [CampusCode], [Location], [IsActive], [CreatedAt]) VALUES (2, N'Girls Campus', N'GIRLS', N'Girls Campus', 1, CAST(N'2026-08-19T20:36:30.1200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Campuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassYears] ON 

INSERT [dbo].[ClassYears] ([ClassYearId], [YearName], [YearNumber]) VALUES (1, N'1st Year', 1)
INSERT [dbo].[ClassYears] ([ClassYearId], [YearName], [YearNumber]) VALUES (2, N'2nd Year', 2)
SET IDENTITY_INSERT [dbo].[ClassYears] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [DepartmentCode], [IsActive], [CreatedAt]) VALUES (1, N'Computer Science', N'CS', 1, CAST(N'2026-08-19T20:39:28.7633333' AS DateTime2))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [DepartmentCode], [IsActive], [CreatedAt]) VALUES (2, N'Physics', N'PHY', 1, CAST(N'2026-08-19T20:39:28.7633333' AS DateTime2))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [DepartmentCode], [IsActive], [CreatedAt]) VALUES (3, N'Chemistry', N'CHEM', 1, CAST(N'2026-08-19T20:39:28.7633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [ProgramCode], [IsActive], [CreatedAt]) VALUES (1, N'Pre-Medical', N'PM', 1, CAST(N'2026-08-19T20:38:47.6300000' AS DateTime2))
INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [ProgramCode], [IsActive], [CreatedAt]) VALUES (2, N'Pre-Engineering', N'PE', 1, CAST(N'2026-08-19T20:38:47.6300000' AS DateTime2))
INSERT [dbo].[Programs] ([ProgramId], [ProgramName], [ProgramCode], [IsActive], [CreatedAt]) VALUES (3, N'ICS', N'ICS', 1, CAST(N'2026-08-19T20:38:47.6300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [CampusId], [RoomNumber], [RoomName], [RoomType], [Capacity], [BuildingName], [FloorNumber], [IsLab], [IsActive], [CreatedAt]) VALUES (6, 1, N'R101', N'ICS II (B)', N'Classroom', 50, NULL, NULL, 0, 1, CAST(N'2026-09-25T16:20:31.7971542' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomId], [CampusId], [RoomNumber], [RoomName], [RoomType], [Capacity], [BuildingName], [FloorNumber], [IsLab], [IsActive], [CreatedAt]) VALUES (7, 1, N'R102', N'ICS II (A)', N'Classroom', 50, NULL, NULL, 0, 1, CAST(N'2026-09-25T16:21:06.3024867' AS DateTime2))
INSERT [dbo].[Rooms] ([RoomId], [CampusId], [RoomNumber], [RoomName], [RoomType], [Capacity], [BuildingName], [FloorNumber], [IsLab], [IsActive], [CreatedAt]) VALUES (12, 1, N'R103', N'ICOM II', N'Classroom', 50, NULL, NULL, 0, 1, CAST(N'2026-09-25T16:21:57.4297955' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([SectionId], [CampusId], [AcademicSessionId], [ClassYearId], [ProgramId], [SectionName], [SectionCode], [StudentCount], [IsActive], [CreatedAt], [DefaultRoomId]) VALUES (1, 1, 1, 1, 1, N'A', N'BOYS-1Y-PM-A', 40, 1, CAST(N'2026-08-19T20:40:44.8800000' AS DateTime2), 17)
INSERT [dbo].[Sections] ([SectionId], [CampusId], [AcademicSessionId], [ClassYearId], [ProgramId], [SectionName], [SectionCode], [StudentCount], [IsActive], [CreatedAt], [DefaultRoomId]) VALUES (2, 1, 1, 1, 2, N'A', N'BOYS-1Y-PE-A', 40, 1, CAST(N'2026-08-19T20:40:44.8800000' AS DateTime2), 17)
INSERT [dbo].[Sections] ([SectionId], [CampusId], [AcademicSessionId], [ClassYearId], [ProgramId], [SectionName], [SectionCode], [StudentCount], [IsActive], [CreatedAt], [DefaultRoomId]) VALUES (3, 1, 1, 1, 3, N'A', N'BOYS-1Y-ICS-A', 35, 1, CAST(N'2026-08-19T20:40:44.8800000' AS DateTime2), 14)
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[SectionSubjects] ON 

INSERT [dbo].[SectionSubjects] ([SectionSubjectId], [SectionId], [SubjectId], [TeacherId], [WeeklyHours], [IsActive], [CreatedAt], [SharedWithSectionId]) VALUES (19, 6, 4, 21, 6, 1, CAST(N'2026-09-25T16:32:49.7819729' AS DateTime2), NULL)
INSERT [dbo].[SectionSubjects] ([SectionSubjectId], [SectionId], [SubjectId], [TeacherId], [WeeklyHours], [IsActive], [CreatedAt], [SharedWithSectionId]) VALUES (20, 6, 3, 24, 6, 1, CAST(N'2026-09-25T16:33:19.8860780' AS DateTime2), 7)
INSERT [dbo].[SectionSubjects] ([SectionSubjectId], [SectionId], [SubjectId], [TeacherId], [WeeklyHours], [IsActive], [CreatedAt], [SharedWithSectionId]) VALUES (21, 6, 2, 20, 6, 1, CAST(N'2026-09-25T20:34:11.9119027' AS DateTime2), 7)
GO
SET IDENTITY_INSERT [dbo].[SectionSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId], [CreditHours], [WeeklyHours], [IsPractical], [IsActive], [CreatedAt]) VALUES (1, N'ENG101', N'English', 1, CAST(4.0 AS Decimal(3, 1)), 6, 0, 1, CAST(N'2026-08-24T14:27:45.4966667' AS DateTime2))
INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId], [CreditHours], [WeeklyHours], [IsPractical], [IsActive], [CreatedAt]) VALUES (2, N'PHY101', N'Physics', 1, CAST(4.0 AS Decimal(3, 1)), 6, 0, 1, CAST(N'2026-08-24T14:27:45.4966667' AS DateTime2))
INSERT [dbo].[Subjects] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId], [CreditHours], [WeeklyHours], [IsPractical], [IsActive], [CreatedAt]) VALUES (3, N'CHE101', N'Chemistry', 1, CAST(4.0 AS Decimal(3, 1)), 6, 0, 1, CAST(N'2026-08-24T14:27:45.4966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherDepartments] ON 

INSERT [dbo].[TeacherDepartments] ([TeacherDepartmentId], [TeacherId], [DepartmentId]) VALUES (2, 10, 8)
INSERT [dbo].[TeacherDepartments] ([TeacherDepartmentId], [TeacherId], [DepartmentId]) VALUES (23, 11, 12)
INSERT [dbo].[TeacherDepartments] ([TeacherDepartmentId], [TeacherId], [DepartmentId]) VALUES (22, 11, 15)
SET IDENTITY_INSERT [dbo].[TeacherDepartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [DepartmentId], [EmployeeCode], [FirstName], [LastName], [Email], [Phone], [Designation], [IsActive], [CreatedAt]) VALUES (10, 17, N'FCSC/Apt/01 A', N'HAMMAD AMIR AWAN', NULL, NULL, NULL, N'Principal', 1, CAST(N'2026-09-25T16:08:45.7214273' AS DateTime2))
INSERT [dbo].[Teachers] ([TeacherId], [DepartmentId], [EmployeeCode], [FirstName], [LastName], [Email], [Phone], [Designation], [IsActive], [CreatedAt]) VALUES (11, 15, N'EMP30945', N'NASIRA BATOOL', NULL, NULL, NULL, N'Lecturer', 1, CAST(N'2026-09-25T16:09:23.8095164' AS DateTime2))
INSERT [dbo].[Teachers] ([TeacherId], [DepartmentId], [EmployeeCode], [FirstName], [LastName], [Email], [Phone], [Designation], [IsActive], [CreatedAt]) VALUES (12, 7, N'FCSC/Apt/10', N'SADDIQA AMEER HAIDER', NULL, NULL, NULL, N'Lecturer', 1, CAST(N'2026-09-25T16:10:09.5638552' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherSubjects] ON 

INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (8, 11, 14)
INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (7, 11, 15)
INSERT [dbo].[TeacherSubjects] ([TeacherSubjectId], [TeacherId], [SubjectId]) VALUES (9, 16, 1)
SET IDENTITY_INSERT [dbo].[TeacherSubjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TeachingGroups] ON 

INSERT [dbo].[TeachingGroups] ([TeachingGroupId], [GroupName], [CampusId], [AcademicSessionId], [ClassYearId], [IsActive]) VALUES (1004, N'GIRLS-2Y-MED-ENG', 2, 1, 2, 1)
INSERT [dbo].[TeachingGroups] ([TeachingGroupId], [GroupName], [CampusId], [AcademicSessionId], [ClassYearId], [IsActive]) VALUES (1005, N'BOYS-2Y-MED-ENG', 1, 1, 2, 1)
INSERT [dbo].[TeachingGroups] ([TeachingGroupId], [GroupName], [CampusId], [AcademicSessionId], [ClassYearId], [IsActive]) VALUES (1006, N'GIRLS-1Y-MED-ENG', 2, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TeachingGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[TeachingGroupSections] ON 

INSERT [dbo].[TeachingGroupSections] ([TeachingGroupSectionId], [TeachingGroupId], [SectionId]) VALUES (1009, 1004, 16)
INSERT [dbo].[TeachingGroupSections] ([TeachingGroupSectionId], [TeachingGroupId], [SectionId]) VALUES (1010, 1004, 17)
INSERT [dbo].[TeachingGroupSections] ([TeachingGroupSectionId], [TeachingGroupId], [SectionId]) VALUES (1011, 1005, 6)
SET IDENTITY_INSERT [dbo].[TeachingGroupSections] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([TimeSlotId], [DayOfWeek], [StartTime], [EndTime], [SlotName], [IsActive]) VALUES (1, 1, CAST(N'08:15:00' AS Time), CAST(N'09:00:00' AS Time), N'Period 1', 1)
INSERT [dbo].[TimeSlots] ([TimeSlotId], [DayOfWeek], [StartTime], [EndTime], [SlotName], [IsActive]) VALUES (2, 1, CAST(N'09:00:00' AS Time), CAST(N'09:45:00' AS Time), N'Period 2', 1)
INSERT [dbo].[TimeSlots] ([TimeSlotId], [DayOfWeek], [StartTime], [EndTime], [SlotName], [IsActive]) VALUES (3, 1, CAST(N'09:45:00' AS Time), CAST(N'10:30:00' AS Time), N'Period 3', 1)
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[TimetableEntries] ON 

INSERT [dbo].[TimetableEntries] ([TimetableEntryId], [SectionSubjectId], [TeacherId], [RoomId], [TimeSlotId], [AcademicSessionId], [ClassType], [Notes], [CreatedAt], [UpdatedAt]) VALUES (6081, 19, 21, 18, 1, 1, N'Regular', N'Parallel Biology/Mathematics - Biology in R109', CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2), CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2))
INSERT [dbo].[TimetableEntries] ([TimetableEntryId], [SectionSubjectId], [TeacherId], [RoomId], [TimeSlotId], [AcademicSessionId], [ClassType], [Notes], [CreatedAt], [UpdatedAt]) VALUES (6082, 24, 17, 13, 1, 1, N'Regular', N'Parallel Biology/Mathematics - Mathematics arrangement room R104', CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2), CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2))
INSERT [dbo].[TimetableEntries] ([TimetableEntryId], [SectionSubjectId], [TeacherId], [RoomId], [TimeSlotId], [AcademicSessionId], [ClassType], [Notes], [CreatedAt], [UpdatedAt]) VALUES (6083, 19, 21, 18, 8, 1, N'Regular', N'Parallel Biology/Mathematics - Biology in R109', CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2), CAST(N'2026-09-28T16:20:43.2133656' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[TimetableEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[TimetableRules] ON 

INSERT [dbo].[TimetableRules] ([RuleId], [RuleCode], [RuleName], [RuleType], [ScopeType], [ScopeId], [RuleValue], [IsEnabled], [IsMandatory], [Priority], [Description], [CreatedAt], [UpdatedAt]) VALUES (1, N'TEACHER_SAME_TIME', N'Teacher Same Time Conflict', N'Mandatory', N'Global', NULL, N'{}', 1, 1, 1, N'A teacher cannot teach two classes at the same time.', CAST(N'2026-09-28T15:42:33.2094178' AS DateTime2), NULL)
INSERT [dbo].[TimetableRules] ([RuleId], [RuleCode], [RuleName], [RuleType], [ScopeType], [ScopeId], [RuleValue], [IsEnabled], [IsMandatory], [Priority], [Description], [CreatedAt], [UpdatedAt]) VALUES (2, N'SECTION_SAME_TIME', N'Section Same Time Conflict', N'Mandatory', N'Global', NULL, N'{}', 1, 1, 1, N'A section cannot have two lectures at the same time.', CAST(N'2026-09-28T15:42:33.2364173' AS DateTime2), NULL)
INSERT [dbo].[TimetableRules] ([RuleId], [RuleCode], [RuleName], [RuleType], [ScopeType], [ScopeId], [RuleValue], [IsEnabled], [IsMandatory], [Priority], [Description], [CreatedAt], [UpdatedAt]) VALUES (3, N'ROOM_SAME_TIME', N'Room Same Time Conflict', N'Mandatory', N'Global', NULL, N'{}', 1, 1, 1, N'A room cannot be used by two classes at the same time.', CAST(N'2026-09-28T15:42:33.2454176' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[TimetableRules] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Academic__919C70DE55E6F57B]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[AcademicSessions] ADD UNIQUE NONCLUSTERED 
(
	[SessionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Campuses__4D8A97157E12A83F]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Campuses] ADD UNIQUE NONCLUSTERED 
(
	[CampusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClassYea__294C4DA919F3477D]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[ClassYears] ADD UNIQUE NONCLUSTERED 
(
	[YearName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ClassYea__AE0D86F0C84939A7]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[ClassYears] ADD UNIQUE NONCLUSTERED 
(
	[YearNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__6EA8896D3D367F6F]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Programs__7658A9876AC4B1B6]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Programs] ADD UNIQUE NONCLUSTERED 
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rooms_Campus_RoomNumber]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [UQ_Rooms_Campus_RoomNumber] UNIQUE NONCLUSTERED 
(
	[CampusId] ASC,
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sections__08F874B99C71600B]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Sections] ADD UNIQUE NONCLUSTERED 
(
	[SectionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SectionSubjects]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[SectionSubjects] ADD  CONSTRAINT [UQ_SectionSubjects] UNIQUE NONCLUSTERED 
(
	[SectionId] ASC,
	[SubjectId] ASC,
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_SectionSubjects_Section_Subject]    Script Date: 28/09/2026 16:40:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SectionSubjects_Section_Subject] ON [dbo].[SectionSubjects]
(
	[SectionId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__9F7CE1A920ADB34F]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TeacherDepartments_Teacher_Department]    Script Date: 28/09/2026 16:40:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TeacherDepartments_Teacher_Department] ON [dbo].[TeacherDepartments]
(
	[TeacherId] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Teachers__1F64254895074C97]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Teachers] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TeacherSubjects_Teacher_Subject]    Script Date: 28/09/2026 16:40:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TeacherSubjects_Teacher_Subject] ON [dbo].[TeacherSubjects]
(
	[TeacherId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TeachingGroupSections_Group_Section]    Script Date: 28/09/2026 16:40:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TeachingGroupSections_Group_Section] ON [dbo].[TeachingGroupSections]
(
	[TeachingGroupId] ASC,
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TimeSlots]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [UQ_TimeSlots] UNIQUE NONCLUSTERED 
(
	[DayOfWeek] ASC,
	[StartTime] ASC,
	[EndTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimetableEntries_Room_TimeSlot_Session]    Script Date: 28/09/2026 16:40:17 ******/
CREATE NONCLUSTERED INDEX [IX_TimetableEntries_Room_TimeSlot_Session] ON [dbo].[TimetableEntries]
(
	[RoomId] ASC,
	[TimeSlotId] ASC,
	[AcademicSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimetableEntries_Teacher_TimeSlot_Session]    Script Date: 28/09/2026 16:40:17 ******/
CREATE NONCLUSTERED INDEX [IX_TimetableEntries_Teacher_TimeSlot_Session] ON [dbo].[TimetableEntries]
(
	[TeacherId] ASC,
	[TimeSlotId] ASC,
	[AcademicSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TimetableEntries_SectionSubject_TimeSlot_Session]    Script Date: 28/09/2026 16:40:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TimetableEntries_SectionSubject_TimeSlot_Session] ON [dbo].[TimetableEntries]
(
	[SectionSubjectId] ASC,
	[TimeSlotId] ASC,
	[AcademicSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TimetableRules_CodeScope]    Script Date: 28/09/2026 16:40:17 ******/
CREATE NONCLUSTERED INDEX [IX_TimetableRules_CodeScope] ON [dbo].[TimetableRules]
(
	[RuleCode] ASC,
	[ScopeType] ASC,
	[ScopeId] ASC,
	[IsEnabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BD100333]    Script Date: 28/09/2026 16:40:17 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicSessions] ADD  DEFAULT ((0)) FOR [IsCurrent]
GO
ALTER TABLE [dbo].[AcademicSessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Campuses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Campuses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Classroom') FOR [RoomType]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [IsLab]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SectionSubjects] ADD  DEFAULT ((1)) FOR [WeeklyHours]
GO
ALTER TABLE [dbo].[SectionSubjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SectionSubjects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [WeeklyHours]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [IsPractical]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TeachingGroups] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimetableEntries] ADD  DEFAULT ('Lecture') FOR [ClassType]
GO
ALTER TABLE [dbo].[TimetableEntries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimetableRules] ADD  CONSTRAINT [DF_TimetableRules_ScopeType]  DEFAULT ('Global') FOR [ScopeType]
GO
ALTER TABLE [dbo].[TimetableRules] ADD  CONSTRAINT [DF_TimetableRules_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[TimetableRules] ADD  CONSTRAINT [DF_TimetableRules_IsMandatory]  DEFAULT ((0)) FOR [IsMandatory]
GO
ALTER TABLE [dbo].[TimetableRules] ADD  CONSTRAINT [DF_TimetableRules_Priority]  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [dbo].[TimetableRules] ADD  CONSTRAINT [DF_TimetableRules_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Campuses] FOREIGN KEY([CampusId])
REFERENCES [dbo].[Campuses] ([CampusId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Campuses]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_AcademicSessions] FOREIGN KEY([AcademicSessionId])
REFERENCES [dbo].[AcademicSessions] ([AcademicSessionId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_AcademicSessions]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Campuses] FOREIGN KEY([CampusId])
REFERENCES [dbo].[Campuses] ([CampusId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Campuses]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_ClassYears] FOREIGN KEY([ClassYearId])
REFERENCES [dbo].[ClassYears] ([ClassYearId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_ClassYears]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_DefaultRoom] FOREIGN KEY([DefaultRoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_DefaultRoom]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Programs] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Programs] ([ProgramId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Programs]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SectionSubjects_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([SectionId])
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [FK_SectionSubjects_Sections]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SectionSubjects_SharedSections] FOREIGN KEY([SharedWithSectionId])
REFERENCES [dbo].[Sections] ([SectionId])
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [FK_SectionSubjects_SharedSections]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SectionSubjects_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [FK_SectionSubjects_Subjects]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SectionSubjects_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [FK_SectionSubjects_Teachers]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Departments]
GO
ALTER TABLE [dbo].[TeacherDepartments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherDepartments_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[TeacherDepartments] CHECK CONSTRAINT [FK_TeacherDepartments_Departments]
GO
ALTER TABLE [dbo].[TeacherDepartments]  WITH CHECK ADD  CONSTRAINT [FK_TeacherDepartments_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TeacherDepartments] CHECK CONSTRAINT [FK_TeacherDepartments_Teachers]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Departments]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Subjects]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Teachers]
GO
ALTER TABLE [dbo].[TeachingGroups]  WITH CHECK ADD  CONSTRAINT [FK_TeachingGroups_AcademicSessions] FOREIGN KEY([AcademicSessionId])
REFERENCES [dbo].[AcademicSessions] ([AcademicSessionId])
GO
ALTER TABLE [dbo].[TeachingGroups] CHECK CONSTRAINT [FK_TeachingGroups_AcademicSessions]
GO
ALTER TABLE [dbo].[TeachingGroups]  WITH CHECK ADD  CONSTRAINT [FK_TeachingGroups_Campuses] FOREIGN KEY([CampusId])
REFERENCES [dbo].[Campuses] ([CampusId])
GO
ALTER TABLE [dbo].[TeachingGroups] CHECK CONSTRAINT [FK_TeachingGroups_Campuses]
GO
ALTER TABLE [dbo].[TeachingGroups]  WITH CHECK ADD  CONSTRAINT [FK_TeachingGroups_ClassYears] FOREIGN KEY([ClassYearId])
REFERENCES [dbo].[ClassYears] ([ClassYearId])
GO
ALTER TABLE [dbo].[TeachingGroups] CHECK CONSTRAINT [FK_TeachingGroups_ClassYears]
GO
ALTER TABLE [dbo].[TeachingGroupSections]  WITH CHECK ADD  CONSTRAINT [FK_TeachingGroupSections_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([SectionId])
GO
ALTER TABLE [dbo].[TeachingGroupSections] CHECK CONSTRAINT [FK_TeachingGroupSections_Sections]
GO
ALTER TABLE [dbo].[TeachingGroupSections]  WITH CHECK ADD  CONSTRAINT [FK_TeachingGroupSections_TeachingGroups] FOREIGN KEY([TeachingGroupId])
REFERENCES [dbo].[TeachingGroups] ([TeachingGroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeachingGroupSections] CHECK CONSTRAINT [FK_TeachingGroupSections_TeachingGroups]
GO
ALTER TABLE [dbo].[TimetableEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimetableEntries_AcademicSessions] FOREIGN KEY([AcademicSessionId])
REFERENCES [dbo].[AcademicSessions] ([AcademicSessionId])
GO
ALTER TABLE [dbo].[TimetableEntries] CHECK CONSTRAINT [FK_TimetableEntries_AcademicSessions]
GO
ALTER TABLE [dbo].[TimetableEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimetableEntries_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[TimetableEntries] CHECK CONSTRAINT [FK_TimetableEntries_Rooms]
GO
ALTER TABLE [dbo].[TimetableEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimetableEntries_SectionSubjects] FOREIGN KEY([SectionSubjectId])
REFERENCES [dbo].[SectionSubjects] ([SectionSubjectId])
GO
ALTER TABLE [dbo].[TimetableEntries] CHECK CONSTRAINT [FK_TimetableEntries_SectionSubjects]
GO
ALTER TABLE [dbo].[TimetableEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimetableEntries_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TimetableEntries] CHECK CONSTRAINT [FK_TimetableEntries_Teachers]
GO
ALTER TABLE [dbo].[TimetableEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimetableEntries_TimeSlots] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([TimeSlotId])
GO
ALTER TABLE [dbo].[TimetableEntries] CHECK CONSTRAINT [FK_TimetableEntries_TimeSlots]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Teachers]
GO
ALTER TABLE [dbo].[AcademicSessions]  WITH CHECK ADD  CONSTRAINT [CK_AcademicSessions_Dates] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[AcademicSessions] CHECK CONSTRAINT [CK_AcademicSessions_Dates]
GO
ALTER TABLE [dbo].[ClassYears]  WITH CHECK ADD  CONSTRAINT [CK_ClassYears_YearNumber] CHECK  (([YearNumber]>(0)))
GO
ALTER TABLE [dbo].[ClassYears] CHECK CONSTRAINT [CK_ClassYears_YearNumber]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [CK_Rooms_Capacity] CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [CK_Rooms_Capacity]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [CK_Sections_StudentCount] CHECK  (([StudentCount] IS NULL OR [StudentCount]>=(0)))
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [CK_Sections_StudentCount]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [CK_SectionSubjects_SharedSection] CHECK  (([SharedWithSectionId] IS NULL OR [SharedWithSectionId]<>[SectionId]))
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [CK_SectionSubjects_SharedSection]
GO
ALTER TABLE [dbo].[SectionSubjects]  WITH CHECK ADD  CONSTRAINT [CK_SectionSubjects_WeeklyHours] CHECK  (([WeeklyHours]>(0)))
GO
ALTER TABLE [dbo].[SectionSubjects] CHECK CONSTRAINT [CK_SectionSubjects_WeeklyHours]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [CK_Subjects_CreditHours] CHECK  (([CreditHours] IS NULL OR [CreditHours]>=(0)))
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [CK_Subjects_CreditHours]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [CK_Subjects_WeeklyHours] CHECK  (([WeeklyHours]>(0)))
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [CK_Subjects_WeeklyHours]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlots_DayOfWeek] CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(7)))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [CK_TimeSlots_DayOfWeek]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlots_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [CK_TimeSlots_Time]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlots_TimeRange] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [CK_TimeSlots_TimeRange]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Teacher' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
